input:read-only {
  background-color: lightgray;
}
input:-moz-read-only {
  background-color: lightgray;
}

tr {
  display: flex;
  align-items: center;
  height: 30px;
}
i.fas {
  margin-right: 10px;
}
td[id^="input_"] {
  width: 80px;
}
